<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bits</key>
	<array>
		<string>milk</string>
		<string>frying pan </string>
		<string>apple</string>
		<string>What</string>
		<string>are</string>
		<string>They</string>
	</array>
	<key>BitsInfo</key>
	<array>
		<dict>
			<key>descriptionText</key>
			<string></string>
			<key>text</key>
			<string>milk</string>
		</dict>
		<dict>
			<key>descriptionText</key>
			<string></string>
			<key>text</key>
			<string>frying pan </string>
		</dict>
		<dict>
			<key>descriptionText</key>
			<string></string>
			<key>text</key>
			<string>apple</string>
		</dict>
		<dict>
			<key>descriptionText</key>
			<string></string>
			<key>text</key>
			<string>What</string>
		</dict>
		<dict>
			<key>descriptionText</key>
			<string></string>
			<key>text</key>
			<string>are</string>
		</dict>
		<dict>
			<key>descriptionText</key>
			<string></string>
			<key>text</key>
			<string>They</string>
		</dict>
	</array>
	<key>Collections</key>
	<array/>
	<key>Games Off</key>
	<array/>
	<key>Questions</key>
	<array/>
</dict>
</plist>
